body,html{
  width: auto;
  margin: 0;
  background: #E9EBEE;
  font-family: 'Work Sans', sans-serif;
}


.content{
  margin: 5% auto;
  width: 70%;
}

.side__content{
  width: 25%;
  float: left;
}

.profile__avatar{
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  padding: 5px;
}

  .profile__avatar img{
    width: 100%;
    height: auto;
  }

.list{
  list-style: none;
  padding: 0;
}

.profile__bio{
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  color:#000;
}
  .bio__item{
    margin-bottom: 8px;
  }

    .bio__item span{
      margin-right: 10px;
      float: left;
      margin-top: 2px;
      width: 15px;
      color:#999;
    }

    .bio__item p{
      padding: 0;
      margin: 0;
      display: flex;
    }

    .bio__item a{
      text-decoration: none;
      color:#000;
    }

.content__container{
  display: inline-block;
  width: 72.70%;
  margin-left: 1%;
  padding: 5px;
}

  .title{
    color:#666;
    font-size: 36px;
    margin: 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subtitle{
    color:#999;
    font-style: italic;
    font-size: 18px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  .menu{
    margin-bottom: 10px;
    overflow: hidden;
    clear: both;
    position: relative;
  }

  .menu__item{
    background: #fff;
    color:#666;
    width:120px;
    display: inline-block;
    heigth:50px;
    padding: 10px 5px;
    margin:5px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(204,204,204,1);
    box-shadow: 0px 0px 2px 1px rgba(204,204,204,1);
  }

  .menu__item:hover{
    background: #FF6868;
    cursor: pointer;
    color:#fff;
  }

.menu__responsive{
  background: #fff;
  width:100%;
  color:#666;
  height: 50px;
  padding: 10px 5px;
  text-align: center;
  border: none;
  display: none;
  font-size: 16px;
  border-radius: 3px;
  font-family: 'Work Sans', sans-serif;
}

.menu__responsive span{
  margin-left: 10px;
  padding: 5px;
}

.divider{
  height: 1px;
  width: 100%;
  background: #ccc;
}

.content__box{
  margin: 20px 0;
  overflow: none;
}

  .content__title{
    font-weight: 400;
    color:#999;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    display: inline-block;
  }

  .content__hide {
    float: right;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
    font-size: 22px;
    color:#999;
  }

  .content__text{
    background: #fff;
    padding:12px;
    color:#000;
    margin: 10px 0;
    border-radius: 3px;
  }

  .content__text p{
    margin: 0px 0px 12px 0px;
    text-indent: 30px;
  }

.job{
  margin-left: 10px;

}

  .job__item{
    margin-bottom: 20px;
    width:100%;
  }

  .job__year{
    float: left;
    border-bottom:1px solid #999;
    color:#999;
    padding: 5px;
    font-size: 12px;
    width:220px;
  }

    .job__year span{
      font-size: 16px;
    }

  .job__description{
    display: inline-block;
    margin-left: 40px;

  }

  .job__name{
    font-size: 26px;
    color:#666;
  }

  .job__position{
    color:#999;
    font-style: italic;
    margin-left: 5px;
  }

  .job__website {
    color:#FF6868;
    text-decoration: none;
    margin-left: 5px;
  }


.education{
  text-align: center;
}

  .education__item{
    margin: 5px 0px;
  }

  .education__year{
    background: #FF6868;
    text-align: center;
    padding: 5px;
    color:#fff;
    width:200px;
    margin: 10px auto;
    border-radius: 3px;
    cursor: pointer;
  }

  .education__language img{
    width: 40px;
  }

  .education__divider{
    width: 1px;
    height: 80px;
    background: #ccc;
    margin: 0 auto;
  }
  .languages{
    overflow-x: auto;
  }

  .languages__table{
    width:100%;
    text-align: center;
    column-width: 20px;
    border-collapse: collapse;
    vertical-align: middle;
  }

  .languages__title th{
    background: #ccc;
    color:#333;
    height: 30px;
    border:1px solid #ccc;
    font-weight: 400;
  }

  .languages__subtitle td{
    height: 25px;
    border:1px solid #ccc;
  }

  .languages__content td{
    border:1px solid #ccc;
  }

.project{
  margin: 0;
  padding: 0;
}

  .project__item{
    display: inline-block;
    width: 32.80%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }

  .project__image img{
    width: 100%;
    height: 180px;
  }
  .project__details{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .project__item:hover .project__image{
    opacity:0.3;
  }

  .project__item:hover .project__details{
    opacity: 1;
  }

  .project__name{
    color:#FF6868;
    border-bottom: 1px solid #FF6868;
    margin-bottom: 10px;
  }

  .project__link {
    text-align: center;
    color:#FF6868;
  }


.skills{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

  .skills__item{
    display: inline-block;
    width: 32.5%;
    height: 140px;
    border:1px solid #ccc;
    text-align: center;
    color:#666;
  }

  .skills__item span{
    font-size: 38px;
    margin-top: 20px;
    color:#FF6868;
  }

  .skills__title{
    margin: 10px 0 0 0;
    font-weight: 300;
  }

  .skills__description{
    margin: 5px 0;
  }

.content__footer{
  border-top:1px solid #ccc;
  width:100%;
  color:#666;
  padding-top: 10px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
}

.social{
  width:100%;
  height: 100%;
  text-align: center
}
  .social__btn{
    background:#ccc;
    color:#fff;
    border-radius: 3px;
    width:24%;
    height:40px;
    margin: 5px;
    padding:20px 5px 10px 5px;
    font-size: 26px;
    text-align: center;
    display: inline-block;
  }

  .fb:hover{
    background: #4267B2;
    color:#fff;
  }

  .linkedin:hover{
    background: #0073B0;
    color:#fff;
  }

  .insta:hover{
    background: #D72F7C;
    color:#fff;
  }


.btn_ontop {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 1%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 22px;
    color: #999;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(125,125,125,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(125,125,125,1);
    box-shadow: 0px 0px 2px 0px rgba(125,125,125,1);
  }

  .btn_ontop:hover{
    color:#fff;
    background: #FF6868;
  }


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="content__container"] {
        width: 100%;
        margin: 0;
    }
    .content{
      width: 90%;
    }

    .side__content{
      width: 100%;
    }

    .divider{
      display: none;
    }


    .content__container .title{
      text-align: center;
    }

    .content__container .subtitle{
      text-align: center;
    }

    .menu{
      text-align: center;
      display: none;
    }
    a{
      text-decoration: none;
    }
    .menu__item{
      display: block;
      width:80%;
      margin:10px auto;
    }

    .menu__responsive{
      display: block;
      margin-left: -1.5%;
    }

    .skills__item{
      width:100%;
      box-sizing: border-box;
      margin-bottom: 5px;
    }

    .skills__item:last-child{
      margin-bottom: 0px;
    }

    .job__year{
        text-align: center;
        margin: 0 auto;
        float: none;
    }
    .job__description{
      text-align: center;
      display: block;
      margin: 15px 0 0 0;
    }

    .languages__table{
      font-size: 14px;
    }

    .project__item{
      width: 100%;
      height: auto;
      position: relative;
      display: inline-block;
    }
    .project__image img{
      width: 100%;
      height: auto;
    }

    .btn_ontop {
        display: none;
        position: fixed;
        width: 100%;
        bottom:0;
        border-radius: 0;
        background-color: #FF6868;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        padding: 10px 20px;
        right: 0;
        box-sizing: border-box;
        opacity:0.9;
      }

      .btn_ontop:hover{
        opacity: 1;
        color:#fff;
      }

}
